<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TutoriaConn" 
         connectionString="Data Source=.;Initial Catalog=TutoriasDB;Integrated Security=True;TrustServerCertificate=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
